.stack-card {
    width: 90%;
    height: 60vh;
    border: 1px solid;
    border-radius: 16px;
    padding: 8px;
    background: white;
    display: flex;
    position: absolute;
    justify-content: center;
    flex-direction:column;
    align-items: center;
    transition: all 0.08s cubic-bezier(0.25, 0.1, 0.25, 1);
    top:0;
    transform-origin: center;

    &.expanded, &.edit {
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left:0;
        touch-action: inherit;
        user-select: inherit;
    }

    &.swipe {
        left: 105%;
    }
}
  